
/* My code */

body{
font-family: 'Open Sans';
margin: 0 auto;
overflow-x: hidden;
width: 100%;
font-size: 26px;
}

p{


}

h1, h2, h3, h4, h5, h6{


}


a{


}

a:hover{


}

strong{

	font-weight: 800;
}
small{

	font-size: 14px;
	font-style: italic;
}

.clear{
	clear: both;
}

.wrapper{
	
}

 /* Header and Navigation*/

header{
	top: 0;
	height: 7rem;
	position: fixed;
	background: white;
	width: 100%;
}
#logo{
	display: block;
	float: left;
	margin-left: 1rem;
	margin-top: 10px;
	margin-bottom: 20px;
}

nav{
  display: block;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  margin: 8px;
  font-weight: 350;
  display: inline-block;
}

nav ul li a{
	text-decoration: none;
	color: #858585;
}

nav a:hover{
    border-bottom: 2px solid #30c0d8;
    color: #ff6952;
}

	/* Hero image */

#hero-image{
 height: 600px;
 margin-top: 10px;
 background: url('images/peak-hero-image.jpg') center center; 
 background-size: cover;
}

#hero-image h1{
	color: white;
	font-size: 54px;
	text-align: center;
/*    position: absolute;
    left: 30%;
    top: 45%;*/
    letter-spacing: 3.19px;
    /*line-height: 87px;*/
}

#hero-image p{
	color: white;
	letter-spacing: 3.19px;
   /* line-height: 87px;*/
    text-align: center;
    /*position: absolute;
    left: 34%;
    top: 55%;*/
    font-size: 54px;
    font-weight: 300;
}

/* Transition block */

#transition{
	background-color: #30C0D8;
	height: 400px;
	width: 100%;
	position: absolute;
}


#transition p{
	color: white;
	letter-spacing: 3.16px;
    line-height: 67px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    margin: 5% 30% 5% 30%;

}
/* Timeline */

#timeline{
	height: 800px;
	width: 100%;
	background: #ff6952;
	background-image:url('images/white-timeline.png');
    background-position: 40% 87%;
    background-repeat:no-repeat;
}

#timeline h2{
	color: white;
	font-size: 30px;
	position: relative;
	top: 56%;
	left: 8%;
	letter-spacing: 1.14px;
}

/* Primary Content */

#primary-content{
	height: 425px;
	width: 100%;
	position: absolute;
}

#mission{
	position: relative;
	height: 425px;
	width: 50%;
	background-color: #30C0D8;
	float: right;
}
 
#mission p{
	color: white;
	letter-spacing: 2.39px;
    line-height: 40px;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    padding: 8% 5% 9% 7%;
    margin-top: 0px;
}
#vancouver-image{
	float: left;
	width: 50%;
	height: 100%;

}

/* Secondary Content*/

#secondary-content{
	height: 425px;
	width: 100%;
}

#product{
	height: 120px;
	background-color: white;
	width: 100%;
}

#product h2{
	color: #3fa9f5;
	font-size: 30px;
	letter-spacing: 1.14px;
	position: relative;
	top: 450px;
	left: 100px;

}

#product p{
	color: #666;
	line-height: 37px;
	font-size: 20px;
	text-align: left;
	padding: 15px 20px;
	position: relative;
	top: 440px;
	margin-right: 50%;
	margin-left: 55px;
}

#product img{
	float: right;
	position: relative;
	left: 100px;
	top: -200px;
}

#sharepoint-flex-button{
padding: 20px 25px;
background: #3FA9F5;
box-shadow: inset 0px -4px 0px 0px #2D8ED4;
border-radius: 8px;
color: white;
font-size: 20px;
text-decoration: none;
float: right;
position: relative;
right: 200px;
top: 300px;
}

#sharepoint-flex-button:hover{
	background: #2D8ED4;
	color: #e8e8e8;
}

#sharepoint-flex-logo{
	position: relative;
	top: 375px;
	right: -700px;

}

/* Services */

#services{
	height: 450px;
	background: #ff6952;
	position: relative;
	top: 360px; 
}

#services h2{
	color: white;
	font-size: 30px;
	letter-spacing: 1.14px;
	position: relative;
	top: 70px;
	left: 85px;
}
#service-icons-parent{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 4em 2em 2em 2em;
}

#service-icons-parent p{
	color: white;
	font-size: 16px;
}

#services p{
	position: relative;
	display: inline-block;
	color: white;
	padding: 20px; 
}

#consulting-text{
	top: -50px;
	margin-left: 30px;
}

#development-text{
	left: 540px;
	top: -50px;
}
#training-text{
	position: relative;
	top: -50px;
	left: 275px;
}


/* Footer */

footer{
    height: 200px;
    background: #e2e9f0;
    position: relative;
    top: 350px;
    padding: 2em;
}
footer p{
	color: #364350;
	font-style: bold;
	font-size: 16px;
	margin-top: 0;
	position: relative;
	top: -180px;
}
footer ul{
	display: block;
	font-weight: 350;
	font-size: 14px;
	font-weight: 300;
	margin-top: 5px;
	list-style-type: none;
	position: relative;
	right: 20px;
	top: -180px;
}

footer ul li{
  padding: 3px;
  margin: 0px 0px 8px 5px;
}

footer ul li a{
	color: #364350;
	text-decoration: none;
}

footer ul li a:hover{
	border-bottom: 2px solid #ff6952;
}

#stay-connected{
	float: right;
	position: relative;
	top: -390px;
	right: 50px;
	color: #364350;
	font-style: bold;
	font-size: 16px;
}

#facebook{
	float: right;
	position: relative;
	top: -350px;
	left: -30px;
}

#twitter{
	float: right;
	position: relative;
	top: -350px;
	right: -60px;	
}
#linkedin{
	float: right;
	position: relative;
	top: -350px;
	left: 150px;
}
#youtube{

	float: right;
	position: relative;
	top: -300px;
	left: 60px;
}

#vimeo{
	float: right;
	position: relative;
	top: -300px;
	left: 150px;
}

#googleplus{
	float: right;
	position: relative;
	top: -300px;
	left: 240px;
}

#footer-logo{
	position: relative;
	right: -500px;
	top: 0px;
}
#copyright{
	color: #364350;
	text-transform: uppercase;
	font-size: 14px;
	position: relative;
	left: 490px;
	top: 0px;
}



